.pic {
  padding-left: 300px;
}

.index {
  display: table;
  width: 100%;
}

.trr {
  display: table row;
}

.main {
  display: table-cell;
  text-align: center;
}

.author {
  display: table-cell;
  text-align: center;
}

.type {
  display: table-cell;
  text-align: center;
}
