.pic {
  padding-left: 300px;
}

.index {
  display: table;
  font: bold 15pt / 20pt sans-serif;
  background-color: black;
  color: white;
}

.main {
  font: bold 15pt / 20pt sans-serif;
  background-color: black;
  color: white;
}

.type {
  font: bold 15pt / 20pt sans-serif;
  background-color: black;
  color: white;
}

.author {
  font: bold 15pt / 20pt sans-serif;
  background-color: black;
  color: white;
}
